<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<script type="text/javascript">
			timeSlice(startTime, endTime, status) {
				console.log(startTime, endTime, status)
				let sHour = startTime.split(":")[0] || 0;
				sHour = parseInt(sHour);
				let sMinute = startTime.split(":")[1] || 0;
				sMinute = parseInt(sMinute);
				let eHour = endTime.split(":")[0] || 0;
				eHour = parseInt(eHour);
				let eMinute = endTime.split(":")[1] || 0;
				eMinute = parseInt(eMinute);
				let timeList = [];
				if(status == 5) {
					for(let i = sHour; i <= eHour; i++) {
						if(i == sHour) {
							if(sMinute < 30) {
								timeList.push({
									'hour': checktime(sHour),
									'minute': '00',
									'status': status,
								})
							}
							timeList.push({
								'hour': checktime(sHour),
								'minute': '30',
								'status': status,
							})
						} else if(i == eHour) {
							timeList.push({
								'hour': checktime(eHour),
								'minute': '00',
								'status': status,
							})
							if(eMinute > 30) {
								timeList.push({
									'hour': checktime(eHour),
									'minute': '30',
									'status': status,
								})
							}
						} else {
							timeList.push({
								'hour': checktime(i),
								'minute': '00',
								'status': status,
							})
							timeList.push({
								'hour': checktime(i),
								'minute': '30',
								'status': status,
							})
						}
					}
					this.statusList = timeList;
				} else {
					console.log(sHour,eHour)
					for(let i = sHour; i <= eHour; i++) {
						if(i >= sHour && i <= eHour) {
							if(i > sHour && i < eHour) {
								timeList.push({
									'hour': checktime(i),
									'minute': '00',
									'status': status,
								})
								timeList.push({
									'hour': checktime(i),
									'minute': '30',
									'status': status,
								})
							} else if(i == sHour) {
								if(sMinute == '00') {
									timeList.push({
										'hour': checktime(i),
										'minute': '00',
										'status': status,
									})									
									if(eMinute == '59' || i<eHour) {
										timeList.push({
											'hour': checktime(i),
											'minute': '30',
											'status': status,
										})
									}
								} else if(sMinute == '30') {
									timeList.push({
										'hour': checktime(i),
										'minute': '30',
										'status': status,
									})
								}
							} else if(i == eHour) {
								if(eMinute == '29') {
									timeList.push({
										'hour': checktime(i),
										'minute': '00',
										'status': status,
									})
									
								} else if(eMinute == '59') {
									timeList.push({
										'hour': checktime(i),
										'minute': '00',
										'status': status,
									})
									timeList.push({
										'hour': checktime(i),
										'minute': '30',
										'status': status,
									})
								}
							}

						}

					}
					this.statusList.forEach((x, i) => {
						timeList.forEach((y, j) => {
							if(x.hour == y.hour && x.minute == y.minute) {
								x.status = y.status;
							}
						})
					})
				}
			},
		</script>
	</body>
</html>
